<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Movies</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0"></ul>
      <div class="d-flex">
        <input
          #searchText
          (keyup.enter)="searchMovie(searchText.value)"
          class="div-control mr-2"
          type="search"
          placeholder="Search a movie"
          aria-label="Search"
        />
        <button
          (click)="searchMovie(searchText.value)"
          class="btn btn-outline-success"
          type="submit"
        >
          Search
        </button>
      </div>
    </div>
  </div>
</nav>
